{% extends "layout.html" %}
{% block page_title %}<img src="/static/img/spinner1.gif" class="img-thumbnail" width="50" height="50"> NeuroStellar{% endblock %}
{% block body %}
    {{ super() }}

    <p>Разработано командой foo() fighters для PhotoHack MSK 2019</p>
    <p>Сервис предиктивной нейроаналитики для маркетинговых исследований и отслеживания трудовой загруженности персонала</p>
    <ul>
        <li>Для входа используйте: admin / admin</li>
    </ul>
    <h3>Как пользоваться:</h3>
<p>Войдите. Перейдите в раздел <a href="/private/">"Анализ"</a>. Сопрягите заранее устройство Muse с вашим Bluetooth-адаптером, пройдите калибровку - потребуется открыть доступ к камере</p>
<p>И получите отчет по исследованию</p>

    <p>foo() Fighters</a>.</p>
{% endblock %}